body {
  background-color: #ff0;
}
@media (max-width: 767px) {
  body {
    background-color: pink;
  }
  div {
    font-size: 20px;
  }
  p {
    font-weight: 500;
  }
}
@media (min-width: 768px) {
  body {
    background-color: #9acd32;
  }
  div {
    font-size: 40px;
  }
  p {
    font-weight: 900;
  }
}
