:root {
  --gray: #e8f0f2;
  --tomato: #cd5c5c;
  --coral: #ed8e7c;
  --green: #cdf3a2;
  --violet: #9b72aa;
  --pink: #ffc0cb;
  --yellow: #ffe194;
  --blue: #77acf1;
  --cyan: #4ca1a3;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
}
